Bin
*.suo
*.user
*.opensdf
*.sdf
*.ipch
*.pyc
*.py~
*.bz2
Redist/Output*
Redist/Install/obj*
Redist/build.*
Redist/Install/Fragments/RedistFragments.wxs
Redist/*-src
*.bak
Temp
Build
Redist/Final
Redist/compile.log
Redist/OpenNI-*
Source/Documentation/html
Source/Documentation/java
Source/Documentation/xml
OpenNI.xcodeproj
