<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.openni.android.tools.niviewer"
    android:versionCode="203000015"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.CAMERA" /><uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.openni.android.tools.niviewer.NiViewerActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- Open ONI files -->
			<intent-filter>
			    <action android:name="android.intent.action.VIEW" />
			    <category android:name="android.intent.category.DEFAULT" />
			    <category android:name="android.intent.category.BROWSABLE" />
			    <data android:scheme="file" />
			    <data android:mimeType="*/*" />
			    <data android:host="*" />
			    <data android:pathPattern=".*\\.oni" />
			    <data android:pathPattern=".*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.oni" />
			    <data android:pathPattern=".*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ONI" />
			    <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\..*\\.ONI" />
    		</intent-filter>        
    	</activity>
    </application>

</manifest>
